/* Ocultar esses elementos na impressão */
@media print {
  .no-print {
    display: none !important;
  }

  /* Ajustes para a área de impressão */
  .print-container {
    width: 100%;
    padding: 0;
    margin: 0;
    border: none;
  }

  body {
    margin: 0;
    padding: 0;
  }
}